body{
    background-color: cornflowerblue;
}
 
.container{
    position: relative;
    margin-left: auto;
    background-color: gold;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    border-radius: 15px;
    height: 50%;
    width: 20%;
}
.btn_1{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.title{
    color: #fff;
}
.paragrafh{
    color: #fff;
}
.btn_1:hover{
    background-color: #1e1e1e;
    transition: 0.1s ease-in;
}
.name{
    color:#fff;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 10px;
}
.header1{
  background-color: #1e1e1e;
  padding: 8px;
}
.menu{
  color: #fff;
 
}
.container_1{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 900px) {
    .container {
    position: relative;
    margin-left: auto;
    background-color: gold;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    border-radius: 15px;
    height: 50%;
    width: 38%;

    }
    .btn_1{
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: black;
        color: #fff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    .title{
        color: #fff;
        font-size: 20px;
    }
    .paragrafh{
        color: #fff;
        font-size: 12px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
    .container {
    position: relative;
    margin-left: auto;
    background-color: gold;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    border-radius: 15px;
    height: 50%;
    width: 20%;

    }
    .btn_1{
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: black;
        color: #fff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    .title{
        color: #fff;
        font-size: 30px;
    }
    .paragrafh{
        color: #fff;
        font-size: 18px;
    }
}
